body {
    margin: 0;
    padding: 0;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;

    /* The image used */
    background-image: url("../img/resBack.jpg");

    width: 100%;
    height: 100%;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(4px);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;
}

.container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px 100px 250px 100px 100px 100px 100px 1fr;

    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
    color: white;

    position: relative;
    z-index: 2;
}

.container div {
    padding: 10px;


    /* border: 1px solid #000000; */
}

.navbar {
    grid-column: 1 / 11;
}

.header {
    grid-column: 1 / 8;

    grid-row-start: 2;
    grid-row-end: 2;

    overflow: auto;
    position: relative;
}

.image {
    grid-column: 8 / 11;

    grid-row: 2 / 4;

    overflow: hidden;
    position: relative;
}

#title {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#photo {
    max-width: 100%;
    /* Set the maximum width of the image to 100% of the container width */
    max-height: 100%;
    /* Set the maximum height of the image to 100% of the container height */
    display: block;
    /* Make sure the image is a block-level element */
    margin: auto;
    /* Center the image horizontally */
    position: absolute;
    /* Set the position property to absolute */
    top: 0;
    /* Position the image at the top of the container */
    bottom: 0;
    /* Position the image at the bottom of the container */
    left: 0;
    /* Position the image at the left of the container */
    right: 0;
    /* Position the image at the right of the container */
}

.userOptions {
    grid-column-start: 1;
    grid-column-end: 5;

    grid-row-start: 3;
    grid-row-end: 4;

    overflow: hidden;
    padding: 0;
}

.price {
    grid-column-start: 5;
    grid-column-end: 7;

    grid-row-start: 3;
    grid-row-end: 3;

    overflow: hidden;
}

.seats {
    grid-column: 1 / 6;

    grid-row: 4 / 7;

    visibility: hidden;
    padding: 0px;
    gap: 0px;
    border: 1px solid #f1f1f1 !important;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(17, 1fr);
    ;
}

.seatsConfirmBtn {
    grid-column: 6;

    grid-row: 5;

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickets {
    grid-column: 6 / 11;

    grid-row: 4 / 7;

    visibility: hidden;
    border: 1px solid #f1f1f1 !important;
    display: flex;
    flex-direction: column;
    height: 500px;
    grid-gap: 3px;
    height: 100%;
    overflow: auto;
}

.ticketNo {
    grid-column: 1;
    text-align: center;
}

.firstName {
    grid-column: 3;
}

.lastName {
    grid-column: 4;

}

#person1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

#person2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

#person3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

#person4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.personalInfo {
    grid-column-start: 4;
    grid-column-end: 9;

    grid-row-start: 5;
    grid-row-end: 5;

    overflow: hidden;
}

.classA {
    grid-column: 1;

    grid-row: 1 / 6;
}

.classB {
    grid-column: 1;

    grid-row: 7 / 12;
}

.classC {
    grid-column: 1;

    grid-row: 13 / 18;
}

.seatsA {
    grid-column: 2 / 6;

    grid-row: 1 / 6;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.seatsB {
    grid-column: 2 / 6;

    grid-row: 7 / 12;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.seatsC {
    grid-column: 2 / 6;

    grid-row: 13 / 18;
    padding: 0 !important;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.seatsA label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.seatsA label input[type="checkbox"] {
    position: absolute;
    transform: scale(1);
}

.seatsA label .seatImage {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/seat.png") no-repeat center center;
    /* set the seat image as background */
    background-size: contain;
    /* adjust the size of the background image to fit inside the container */
}

.seatsB label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.seatsB label input[type="checkbox"] {
    position: absolute;
    transform: scale(1);
}

.seatsB label .seatImage {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/seat.png") no-repeat center center;
    /* set the seat image as background */
    background-size: contain;
    /* adjust the size of the background image to fit inside the container */
}

.seatsC label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.seatsC label input[type="checkbox"] {
    position: absolute;
    transform: scale(1);
}

.seatsC label .seatImage {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/seat.png") no-repeat center center;
    /* set the seat image as background */
    background-size: contain;
    /* adjust the size of the background image to fit inside the container */
}

.reservationInfo {
    grid-column: 1 / 11;
    grid-row: 7 / 9;

    visibility: hidden;
    border: 1px solid #f1f1f1 !important;


    box-sizing: border-box;
    width: 100%;
    height: 100%;

    overflow: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.mail {
    grid-column: 1;
    grid-row: 1;
}

#inputMail {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.payCard {
    grid-column: 2;
    grid-row: 1;
    display: flex;
}

#inputCard {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#cardSpan {
    width: 220px;
    margin-right: 10px;
}

#card1 {
    width: 50px;
    margin-right: 10px;
}

#card2 {
    width: 50px;
    margin-right: 10px;
}

#card3 {
    width: 50px;
    margin-right: 10px;
}

#card4 {
    width: 50px;
    margin-right: 10px;
}

.rndmCode {
    grid-column: 1;
    grid-row: 2;
}

#rndmCode {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.finalBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#makeReservation {
    grid-column: 2;
    grid-row: 2;

    box-sizing: border-box;
}